body{
  font-family: 'Raleway', sans-serif;
  background:  #fcfcfc;
  color: #000;
}
header{
  max-width: 300px;
  margin: 3rem auto;
  padding: 1rem;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  grid-area: 1rem;
  text-align: center;
  box-shadow: 0 3px 3px rgb(0, 0, 50);
  background: #fff;
}
img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 2px 3px #c59d5f;
}
.info{
  margin: 0 auto;
}
h2{
  font-size: 1.75rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
h4{
  font-size: 1.2rem;
  margin: .5rem 0;
  color: rgb(197, 157, 95);
}
i{
  color: #323232;
  /* color: #fff; */
}
.flex{
  font-size: 1rem;
  /* color: #070748; */
}
p{
  margin: .75rem 0;
  font-size: 1.2rem;
}
a{
  text-decoration: none;
  color: inherit;
}
.btn{
  border: 1px solid #c59d5f;
  background: #c59d5f;
  padding: .5rem;
  border-radius: .5rem;
}
