body{
  font-family: 'Raleway', sans-serif;
  color: #6e6969;
  background:  #fcfcfc;
}
header{
  max-width: 500px;
  margin: 3rem auto;
  padding: 1rem;
  border-radius: .5rem;
  display: flex;
  gap: 1.5rem;
  box-shadow: 0 3px 3px rgb(0, 0, 50);
  background: #f1f5f8;
}
.img--div{
  width: 250px;
  height: 50vh;
  border-radius: .5rem;
}
img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: .5rem;
  color: #c59d5f;
  box-shadow: 0 2px 5px #c59d5f;
}
.info{
  width: 250px;
}
.text{
  font-size: .75rem;
  color: #c59d5f;
}
.desc{
  font-size: .85rem;
}
h2{
  font-size: 2rem;
  margin: 0;
  color: #323232;
}
h4{
  margin: .5rem 0;
  color: rgb(197, 157, 95);
}
i{
  color: #c59d5f;
}
.flex{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: .75rem 0;
  font-size: .85rem;
  /* color: #070748; */
}
.flex p{
  margin: 0;
}
a{
  text-decoration: none;
  font-size: .75rem;
  color: inherit;
}

/* @media screen and (min-width: 650px) {
  header{
    width: 40vw;
  }
} */